{% for msg in messages %}
      {% if user.is_staff %}
      <div class="flex justify-end">
        <button
          type="button"
          class="text-gray-400 hover:text-yellow-500"
          title="Pin message"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
            <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354m1.58 1.408-.002-.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a5 5 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a5 5 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.8 1.8 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14q.091.15.214.271a1.8 1.8 0 0 0 .37.282"/>
          </svg>
        </button>
      </div>
      {% endif %}

    {% for image in msg.images %}
        <div class="animate-pulse bg-gray-200 h-48 w-full rounded rounded flex items-center justify-center"
             hx-get="/messageimage/?key={{ image.image_key }}"
             hx-trigger="load"
             hx-swap="outerHTML">
            <center>
                <svg class="size-5 animate-spin text-black"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </center>
        </div>
    {% endfor %}
    <div class="block bg-white shadow rounded pl-6 p-3 text-gray-800 w-full">
    <!-- Pin button -->
      {{ msg.text }}
      <div class="flex flex-col items-end mt-2">
        <div class="font-semibold text-gray-900">{{msg.sender_name or "Guest"}}</div>
        <div class="msgTime text-xs text-gray-600">
          {{ msg.created_at }}
        </div>
      </div>
    </div>

{% else %}
    <div id="empty-state"
         class="text-center mt-12 text-lg font-medium text-gray-700">No messages yet</div>
{% endfor %}
