{% for msg in messages %}
    {% for image in msg.images %}
        <div class="animate-pulse bg-gray-200 h-48 w-full rounded rounded flex items-center justify-center"
             hx-get="/messageimage/?key={{ image.image_key }}"
             hx-trigger="load"
             hx-swap="outerHTML">
            <center>
                <svg class="size-5 animate-spin text-black"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </center>
        </div>
    {% endfor %}
    <div class="block bg-white shadow rounded pl-6 p-3 text-gray-800 w-full">
      {{ msg.text }}
      <div class="flex flex-col items-end mt-2">
        <div class="font-semibold text-gray-900">{{msg.sender_name or "Guest"}}</div>
        <div class="msgTime text-xs text-gray-600">
          {{ msg.created_at }}
        </div>
      </div>
    </div>

{% else %}
    <div id="empty-state"
         class="text-center mt-12 text-lg font-medium text-gray-700">No messages yet</div>
{% endfor %}
