<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, viewport-fit=cover">
       {% block head %}{% endblock head %}
        <link href="/static/css/output.css" rel="stylesheet">
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/htmx-ext-sse.js"></script>
        <script src="/static/js/dayjs.min.js"></script>
        <script src="/static/js/dayjs.plugin.utc.js"></script>
        <script src="/static/js/alpine3.min.js" defer=true ></script>
        <script src="/static/js/qrcode.min.js"></script>
        <style>html{-webkit-text-size-adjust:100%}</style>
    </head>
    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</html>
